body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: -15px 0 5px 0 !important;
    text-align: center;
}

h4 {
    margin: 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.row > .col-12 {
    margin: 0 0 20px 0;
}

.btn {
    color: darkslategray !important;
}

.row:first-of-type > .col-12 {
    text-align: center;
}

.game > div > p:first-of-type {
    text-align: center;
}

img.img-fluid:first-of-type {
    margin: 15px 0;
    width: fit-content !important;
    width: -moz-max-content !important;
    width: -webkit-max-content !important;
    box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
}

.row {
    margin: 0;
}