:root {
    --main-font: "Goudy Old Style Regular";
    --header-font: "Playfair Display Italic";
    --code-font: "Envy Code R";
    --brand-color: #2f4f4f;
    --link-color: #708090;
}

h3 {
    margin: 0.9375rem 0 0.3125rem 0 !important;
}

h5 {
    margin: 0.3125rem 0 0.3125rem 0 !important;
    font-size: 0.9375rem !important;
}

.github-link {
    display: block;
    margin: 0.3125rem 0 0.9375rem 0 !important;
}

.game {
    margin-top: -0.25rem;
    text-align: justify;
}

.game > div > h6 {
    font-family: var(--header-font);
}

.btn {
    color: var(--brand-color) !important;
}

.carousel-inner {
    height: 400px;
    border-radius: 7px;
}

.carousel-inner > .carousel-item {
    height: inherit;
    background-color: #141414;
}

.carousel-inner > .carousel-item > .d-block {
    margin: 0 auto;
    height: inherit;
}

.flex-container {
    display: flex;
}

.flex-container > .flex-main {
    display: inline-flex;
    flex: 2;
    align-items: center;
}
.flex-container > .flex-sidebar {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}

.flex-container > .flex-main > a,
.flex-container > .flex-sidebar > a {
    display: block;
    margin: 0;
    padding: 0;
}

.flex-container > .flex-main > a > img,
.flex-container > .flex-sidebar > a > img {
    padding: 0.1875rem;
    width: 100%;
    border-radius: 7px;
    transition: 0.3s ease;
}

.flex-container > .flex-main > a > img:hover,
.flex-container > .flex-sidebar > a > img:hover {
    opacity: 0.9;
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
    padding: 20px;
    border-radius: 50%;
    background-color: #141414;
    background-size: 25px;;
}

@media only screen and (max-width: 768px) {
    .carousel-inner {
        height: 400px;
    }

    .carousel-inner > .carousel-item {
        background-color: #141414;
        width: 100%;
    }
    
    .carousel-inner > .carousel-item > .d-block {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        height: auto;
    }
}