:root {
    --main-font: "Goudy Old Style Regular";
    --header-font: "Playfair Display Italic";
    --code-font: "Envy Code R";
    --brand-color: #2f4f4f;
    --link-color: #708090;
}

h3 {
    margin: 15px 0 5px 0 !important;
}

h5 {
    margin: 5px 0 15px 0 !important;
    font-size: 15px !important;
}

.game {
    margin-top: -4px;
}

.game > div > h6 {
    font-family: var(--header-font);
}

.row > .col-12 {
    margin: 0px auto;
    padding: 3px 3px;
}

.btn {
    color: var(--brand-color) !important;
}

img.img-fluid {
    padding: 5px;
    margin: 0px;
    box-shadow: none !important;
}

.row {
    margin: 0;
}