h3 {
    margin: 15px 0 5px 0 !important;
    /* text-align: center; */
}

h5 {
    margin: 5px 0 15px 0 !important;
    font-size: 15px !important;
    /* text-transform: uppercase; */
}

.game {
    margin-top: -4px;
}

.game > div > h6 {
    font-family: "Playfair Display Italic";
}

.row > .col-12 {
    margin: 0 0 20px 0;
}

.btn {
    color: darkslategray !important;
}

.row:first-of-type > .col-12 {
    /* text-align: center; */
}

.game > div > p:first-of-type {
    /* text-align: center; */
}

img.img-fluid {
    padding: 5px 5px;
    margin: 0px 0;
    box-shadow: none !important;
}

img.img-fluid:first-of-type {
    /* margin: 0 0 15px 0; */
    /* width: 500px !important; */
    /* box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.1) !important; */
}

.row {
    margin: 0;
}