.jumbotron {
    height: 265px;
    box-shadow: 0 0 30px -23px rgba(0,0,0,0.35);
}

.jumbotron-fluid {
    background-color: #EBE9E6 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

ul.pagination {
    padding-right:  0px;
}

.btn-group {
    margin: 0 auto !important;
}

.btn-group > .btn.btn-light {
    transition: 0.2s;
    color: #212529;
    text-transform: uppercase;
    font-size: 0.875rem;
    border: 4px solid rgba(0, 0, 0, 0) !important;
    border-radius: 3px !important;
}

a.btn {
    transition: 0.2s;
}

.btn:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.btn-group > .btn.selected {
    background: #6C757D !important;
    color: lightgray !important;
}

.btn-group > .btn.selected:hover {
    background: #6C757D !important;
    color: whitesmoke !important;
}

.btn, .btn-light {
    color: #212529;
    border: none !important;
}

.btn, .btn-light:active {
    border: none !important;
}

.pageNumber:active, .pageNumber:focus, .pageNumber {
    outline: 0;
    -moz-outline-style: none;
}

.pageNumber {
    margin: 0 0.1875rem;
    padding: 0.25rem 0.625rem;
    background: none;
    border: none;
    color: gray;
    border-bottom: 1px solid rgba(47, 79, 79, 0.3);
    opacity: 0.4;
}

.pageNumber:hover {
    opacity: 1;
}
 
.selectedPageNumber {
    opacity: 1;
}

.games {
    padding: 0;
    margin: -0.9375rem 0 0 0;
}

.games > .row {
    margin: 1.875rem 0;
}

.games > .row > .col-12.col-md-6 {
    margin: 0.625rem 0;
    padding: 0 0.625rem;
}

.games > .row > .col-12.col-md-6 > .card {
    box-shadow: 0 0 30px -23px rgba(0,0,0,0.35);
}

.games > .row > .col-12.col-md-6 > .card > .icon {
	position: absolute;
	margin: 0 auto;
	top: -0.9375rem;
	left: -0.9375rem;
	text-align: center;
}

.games > .row > .col-12.col-md-6 > .card > .icon > i {
	margin: 0;
	width: 35px;
	height: 35px;
	background: white;
	color: #2f4f4f;
	border-radius: 50%;
	vertical-align: middle;
	font-size: 1.125rem;
	line-height: 34px;
	box-shadow: 0 0 30px -23px rgba(0,0,0,0.35);
}

.card-title {
    font-style: italic;
}

.games > .row > .col-12.col-md-6 > .card > .game_preview {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 180px;
}

.games > .row > .col-12.col-md-6 > .card > .card-body {
    padding: 0 0.9375rem 1.1rem 0.9375rem;
    height: fit-content;
    height: -moz-max-content;
    height: -webkit-max-content;
}