.jumbotron {
    height: 265px;
    box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.35);
}

.jumbotron-fluid {
    background-color: #EBE9E6 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.08' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.btn-group {
    margin: 0 auto !important;
    display: block !important;
    /* width: fit-content;
    width: -moz-max-content;
    width: -webkit-max-content; */
}

.btn-group > .btn.btn-light {
    transition: 0.2s;
    color: #212529;
    text-transform: uppercase;
    font-size: 14px;
    border: 4px solid white !important;
    border-radius: 3px !important;
}

.btn-group > .btn.selected {
    background: #6C757D !important;
    color: lightgray !important;
}

.btn-group > .btn.selected:hover {
    background: #6C757D !important;
    color: whitesmoke !important;
}

.btn-group > .btn:hover {
    color: #212529 !important;
    border: none !important;
    border: 0px solid white !important;
}

.btn, .btn-light {
    color: #212529 !important;
    border: none !important;
}

.btn, .btn-light:active {
    color: darkslategray !important;
    border: none !important;
}


.games {
    padding: 0;
    margin: -15px 0 0 0;
}

.games > .row {
    margin: 30px 0;
}

.games > .row > .col-12.col-md-6 {
    margin: 10px 0;
    padding: 0 10px;
}

.games > .row > .col-12.col-md-6 > .card {
    box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.35);
}

.games > .row > .col-12.col-md-6 > .card > .icon {
	position: absolute;
	margin: 0 auto;
	top: -15px;
	left: -15px;
	text-align: center;
}

.games > .row > .col-12.col-md-6 > .card > .icon > i {
	margin: 0;
	width: 35px;
	height: 35px;
	background: white;
	color: darkslategray;
	border-radius: 50%;
	vertical-align: middle;
	font-size: 18px;
	line-height: 34px;
	box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.35);
}


.card-title {
    font-style: italic;
}

.games > .row > .col-12.col-md-6 > .card > .game_preview {
    width: 100%;
    background-position: center;
    height: 180px;
}

.games > .row > .col-12.col-md-6 > .card > .card-body {
    padding: 0 15px 35px 15px;
    height: fit-content;
    height: -moz-max-content;
    height: -webkit-max-content;
}