@font-face {
    src: url('../fonts/Goudy\ Old\ Style\ Regular.ttf');
    font-family: 'Goudy Old Style Regular';
}

@font-face {
    src: url('../fonts/PlayfairDisplay-Italic.ttf');
    font-family: 'Playfair Display Italic';
}

body {
    font-size: .94rem !important;
}

* {
    font-family: 'Goudy Old Style Regular';
}

h1,
h2 {
    font-family: 'Playfair Display Italic';
    color: darkslategrey;
}

a {
    color: slategrey !important;
    font-size: 14px;
    letter-spacing: 0.5px;
}

a>i {
    font-size: 13px;
    transition: 0.2s;
}

a>i:hover {
    opacity: 0.4;
}

.aside {
    font-style: italic;
    font-size: 13px;
    max-width: 340px !important;
}

.link > h6 > b > i {
    font-size: 14px;
}

.link > h6 > b > i > i {
    font-size: 13px;
    color: #494c57;
}

.link:last-of-type > h6 {
    margin: 0 0 20px 0;
}

ul {
    padding: 0 16px 10px 16px;
}

div.card-group, .posts-container {
    max-width: 300px;
    margin: 0 auto;
}

div.card-body {
    margin: 15px 0 -15px 0;
    padding: 0;
}

div.card-body>.row {
    margin: 0px 0px 10px 0;
}

div.col-1 {
    padding: 0 35px 0 0;
    margin: 0 0 0 0px;
}

.header {
    margin: 0 0 15px 0;
}

.portrait {
    border: 1px solid lightgray;
}

.container {
    padding: 10px 30px !important;
    margin: 20px 0;
    height: 300px;
    border-left: 3px dashed rgb(211, 211, 211, 0.3);
}

.container-fluid {
    padding: 0 !important;
}

.container-fluid:not(:first-child) {
    padding: 15px 0 !important;
}

.custom-col {
    margin: 0 auto !important;
    padding: 0 5px !important;
}

main {
    min-height: 400px;
}

footer {
    font-style: italic;
    color: #bcbcbc;
}

hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);  
}

@media only screen and (max-width: 1250px) {
    .container {
        border: none;
    }
  }