@font-face {
    src: url("../fonts/GoudyOldStyleRegular.woff2");
    font-family: "Goudy Old Style Regular";
}

@font-face {
    src: url("../fonts/PlayfairDisplay-Italic.woff2");
    font-family: "Playfair Display Italic";
}

@font-face {
    src: url("../fonts/EnvyCodeR.woff2");
    font-family: "Envy Code R";
}

html {
    overflow-y: scroll;
}

body {
    padding: 15px 0 0 0;
    font-size: .94rem !important;
    background-color: #ffffff;
}

* {
    font-family: "Goudy Old Style Regular";
}

pre {
    padding: 15px;
    /* background: rgba(0, 0, 0, 0.05); */
    /* border: 1px solid rgba(211, 211, 211, 0.1); */
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

code {
    font-family: "Envy Code R" !important;
    font-size: 13px !important;
    background: none !important;
}

pre > code > span {
    font-family: "Envy Code R" !important;
    font-size: 13px !important;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display Italic";
    color: darkslategrey;
}

h1 {
    font-size: 2rem !important;
}

h1 > i {
    font-size: 24px;
}

h5 {
    margin-bottom: 20px !important;
    color: darkslategrey;
}

.posts-container > div > a > h6 {
    margin-bottom: 3px;
}

.posts-container > div > a:last-child > h6 {
    margin: 0 0 20px 0 !important;
}

a {
    color: slategrey !important;
    font-size: 14px;
    letter-spacing: 0.5px;
}

a>i {
    font-size: 13px;
    transition: 0.2s;
}

a>i:hover {
    opacity: 0.4;
}

p>a {
    color: darkslategrey !important;
    font-weight: bold;
}

div > i {
    margin: 0 5px 0 0;
}

.aside {
    font-style: italic;
    font-size: 13px;
    max-width: 340px !important;
}

.link>h6>b>em {
    font-size: 14px;
}

.link>h6>b>em>i {
    font-size: 13px;
    color: slategray;
}

.link:last-of-type>h6 {
    margin: 0 0 20px 0;
}

ul {
    padding: 0 16px 2px 16px;
}

.archive>li>ul>li,
.archive>li>ul>li>ul>li,
.archive>li>ul>li>ul>li>ul>li {

    position: relative;
    left: -8px;
    width: 110%;
}

div.card-group,
.posts-container {
    max-width: 300px;
    margin: 0 auto;
}

div.card-body {
    margin: 15px 0 -15px 0;
    padding: 0;
}

div.card-body>.row {
    margin: 0px 0px 10px 0;
}

div.col-1 {
    padding: 0 35px 0 0;
    margin: 0 0 0 0px;
}

.header {
    margin: 0 0 15px 0;
}

.update-status {
    margin-left: 3px;
    /* border-bottom: 1px solid darkslategrey; */
}

.container-fluid>p>i {
    color: #494c57;
}

.portrait {
    border: 1px solid lightgray;
    transition: 0.3s ease;
}

figcaption {
    background-color: #2f4f4f;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.03'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    
}

figcaption > h2 {
    margin: 0 0 10px 0;
}

figure {
    -webkit-box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75);
}

.img-fluid {
    margin: 5px 0;
    border-radius: 8px;
    /* -webkit-box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -23px rgba(0,0,0,0.75); */
}

.img-fluid.no-shadows {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px -0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;
}

.container {
    padding: 0px 30px !important;
    margin: 20px 0;
    height: 300px;
    /* border-left: 3px dashed rgb(211, 211, 211, 0.3); */
}

.container > .row {
    padding: 0 0 20px 0;
}

.container-fluid {
    padding: 0 !important;
}

.container-fluid>p {
    margin-left: 5px;
}

.container-fluid:not(:first-child) {
    padding: 10px 0 !important;
}

.custom-col {
    margin: 0 auto !important;
    padding: 0 5px !important;
}

main {
    min-height: 400px;
}

footer {
    margin: 0 0 15px 0;
    display: inline-block;
    font-style: italic;
    color: #bcbcbc;
}

footer > div {
    float: right;
    margin: 0 5px;
    width: fit-content;
    line-height: 35px;
}

footer > div:not(:last-of-type) {
    float: left;
    width: 90px;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
}

@media only screen and (max-width: 1250px) {
    .container {
        border: none;
    }
}