:root {
    --main-font: "Goudy Old Style Regular";
    --header-font: "Playfair Display Italic";
    --code-font: "Envy Code R";
    --brand-color: #2f4f4f;
    --link-color: #708090;
}

@font-face {
    src: url("../fonts/GoudyOldStyleRegular.woff2");
    font-family: "Goudy Old Style Regular";
}

@font-face {
    src: url("../fonts/PlayfairDisplay-Italic.woff2");
    font-family: "Playfair Display Italic";
}

@font-face {
    src: url("../fonts/EnvyCodeR.woff2");
    font-family: "Envy Code R";
}

:root {
    font-size: 1em !important;
    overflow-y: scroll;
}

* {
    font-family: var(--main-font);
}

body {
    padding: 1rem 0 0 0;
    background-color: #ffffff;
}

pre {
    padding: 1rem;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

code {
    font-family: var(--code-font) !important;
    font-size: 0.84rem !important;
    background: none !important;
}

pre > code > span {
    font-family: var(--code-font) !important;
    font-size: 0.84rem !important;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    color: var(--brand-color);
}

h1 {
    font-size: 2rem !important;
}

h1 > i {
    font-size: 1rem;
}

h5 {
    margin-bottom: 1.25rem !important;
    color: var(--brand-color);
}

.posts-container > div > a > h6 {
    margin-bottom: 0.1875rem;
}

.posts-container > div > a:last-child > h6 {
    margin: 0 0 1.25rem 0 !important;
}

.drop {
    float: left;
    font-size: 3.8rem;
    margin: -1.25rem 0.3125rem -1.5625rem 0;
}

a {
    color: var(--link-color) !important;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

a>i {
    font-size: 0.83rem;
    transition: 0.2s;
}

.card-body > .row > .col-1:nth-child(1) > a > i:hover {
    color: black;
}
.card-body > .row > .col-1:nth-child(2) > a > i:hover {
    color: #0077B5;
}
.card-body > .row > .col-1:nth-child(3) > a > i:hover {
    color: #FA5C5C;
}
.card-body > .row > .col-1:nth-child(4) > a > i:hover {
    color: #0073B2;
}

p>a {
    color: var(--link-color) !important;
    font-weight: bold;
}

div > i {
    margin: 0 0.3125rem 0 0;
}

.aside {
    font-style: italic;
    font-size: 0.84rem;
    max-width: 340px !important;
}

.link>h6>b>em {
    font-size: 0.85rem;
}

.link>h6>b>em>i {
    font-size: 0.84rem;
    color: var(--link-color);
}

.link:last-of-type>h6 {
    margin: 0 0 1.25rem 0;
}

ul {
    padding: 0 1rem 0.125rem 1rem;
}

.archive {
    list-style: none;
    padding: 0;
}

.archive>li>ul>li,
.archive>li>ul>li>ul>li,
.archive>li>ul>li>ul>li>ul>li {
    position: relative;
    left: -0.3rem;
    width: 110%;
    list-style: none;
}

.archive>li>i {
    color: var(--link-color);
}

.archive>li>ul>li>i,
.archive>li>ul>li>ul>li>i,
.archive>li>ul>li>ul>li>ul>li>i {
    margin: 0 0 0 0.4375rem;
    color: var(--link-color);
}

div.card-group,
.posts-container {
    max-width: 300px;
    margin: 0 auto;
}

div.card-body {
    margin: 0.9375rem 0 -0.9375rem 0;
    padding: 0;
}

div.card-body>.row {
    margin: 0 0 0.625rem 0;
}

div.col-1 {
    padding: 0 2.1875rem 0 0;
    margin: 0;
}

.header {
    margin: 0 0 0.9375rem 0;
}

.update-status {
    margin-left: 0.1875rem;
}

.container-fluid>p>i {
    color: #494c57;
}

.portrait {
    transition: 0.3s ease;
}

figcaption {
    background-color: var(--brand-color);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.03'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    
}

figcaption > h2 {
    margin: -0.625rem 0 0.625rem 0;
    font-size: 1.7rem;
}

.img-fluid {
    margin: 0.3125rem 0;
    border-radius: 8px;
}

.img-fluid.no-shadows {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px -0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border-radius: 0;
}

.container {
    padding: 0 1.875rem !important;
    margin: 1.25rem 0;
    height: 300px;
}

.container > .row {
    padding: 0 0 1.25rem 0;
}

.container-fluid {
    padding: 0 !important;
}

.container-fluid>p {
    margin-left: 0.3125rem;
}

.container-fluid:not(:first-child) {
    padding: 0.625rem 0 !important;
}

.custom-col {
    margin: 0 auto !important;
    padding: 0 0.3125rem !important;
}

main {
    min-height: 400px;
}

footer {
    margin: 0 0 0.9375rem 0;
    display: inline-block;
    font-style: italic;
    color: #bcbcbc;
}

footer > div {
    float: right;
    margin: 0 0.3125rem;
    width: fit-content;
    line-height: 35px;
}

footer > div:not(:last-of-type) {
    float: left;
    width: 90px;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #bcbcbc, #ffffff);
}

@media only screen and (max-width: 1250px) {
    .container {
        border: none;
    }
}